{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    {% endblock %}
    {% block css %}
    {% endblock %}
<link href="{% static 'CSS/base.css' %}" type="text/css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="header_content">
                <ul>
                    {% if user.is_authenticated %}
                    <li>{{user.username}}님 하이염</li>
                    <li><a href="{% url 'logout' %}">로그아웃</a></li>
                    <li><a href="#">마이페이지</a></li>
                    {% else %}
                    <li><a href="{%url 'account:login' %}">로그인</a></li>
                    <li><a href="{%url 'account:signup' %}">회원가입</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="main">
            {% block content %}
            {% endblock %}
        </div>
        <div class="footer">
            <div class="footer_content">
                <p>지은이</p>
            </div>
        </div>
    </div>
    {% block js %}
    {% endblock %}
</body>
</html>