{% extends 'base.html' %}
{% load static %}
{% block title %}
    <title>나는 디테일</title>  
{% endblock %} 
{% block css %}
    <link href="{% static 'CSS/detail.css' %}" type="text/css" rel="stylesheet"/>
{% endblock %}
{% block content %}    
    <h1>나는 {{ pjinfo.projectName }}</h1>


    {% for node in nodes %}
        <div id ='dots' style="position : absolute"}>
            {{node.title}}
        </div>

        <div id="lines"style="position:absolute"></div>

        <input type="text" id='Y' value ="{{node.brach}}"></input>

        
    {% endfor %}
{% endblock %}    
{% block js %}
    <script src="{% static 'JS/detail.js' %}" type="text/javascript"></script>
{% endblock %}