{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css.css">
</head>
<body>
    <div class="container">
        <h1>F R O M _ N O D E</h1>
        <div class = "node">
            {% for one in series %}
                {% if one.series == 0 %}
                    <div class="zero">{{one.data.date}} <a href = "{% url 'detail' one.data.id %}"><h1>{{one.data.title}}</h1></a></div>
                {% else %}
                    <div class="one">{{data.data.date}} <br>
                        {{data.data.previous}}에서 분리됨
                        <a href = "{% url 'detail' one.data.id %}"><h1>{{one.data.title}}</h1></a></div>
                {% endif %}
            {% endfor %}    
        </div>
    </div>
</body>
</html>
